.page-wrapper {
    padding-top: 1px;
    min-height: 818px;
	height: 100vh;
	margin-bottom: -60px;
	padding-bottom: 60px;
    background-color: hsl(77, 2%, 22%);
    font-family: 'Ubuntu';
    text-align: center;
}

#title-div {
    text-align: center;
    margin-top: 40px;
}

#title {
    color: aliceblue;
    font-size: 60px;
}

#settings-div {
    text-align: center;
    width: 30%;
    margin: 0 auto;
    margin-top: 40px;
}

.settings-sliders {
    display: inline-block;
    color: aliceblue;
    width: 100%;
    margin: 0 auto;
}

#session-slider, #break-slider {
    display: inline-block;
    width: 70%;
}

.no-select {
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.input-boxes {
    display: inline-block;
	text-align: center;
    border-style: dotted;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom-color: aliceblue;
    color: aliceblue;
    width: 25px;
    font-size: 20px;
    margin-left: 5px;
    margin-right: 4px;
    background-color: hsl(77, 2%, 22%);
} 

.increment-button {
    color: hsl(3, 65%, 52%);
    cursor: pointer;
    transition: 0.6s;
}

.increment-button:hover {
    color: hsl(3, 65%, 70%);
}

#timer-div {
	position: relative;
    color: aliceblue;
	padding-top: 1px;
    font-size: 60px;
    margin-top: 80px;
	margin-right: 350px;
	cursor: pointer;
}

#timer-canvas, #glow-canvas {
	position: absolute;
}

#timer-text {
	position: absolute;
	text-align: center;
	line-height: 125px;
	margin-top: 35px;
	width: 350px;
}

#foot {
	font-family: 'Ubuntu';
	font-size: 18px;
	background-color: hsl(77, 2%, 22%);
	color: aliceblue;
	line-height: 25px;
	width: 100%;
	height: 60px;
	text-align: center;
}

#foot i, #foot a {
	color: hsl(3, 65%, 70%);
	transition: 0.6s;
	text-decoration: none;
}

#foot a:hover, #gh-link:hover i {
	color: aliceblue;
	text-decoration: none;
}

#foot i {
	padding-left: 2px;
}